<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">{{this.title}}</h4>
    <p class="card-text">{{this.content}}</p>
    <p><form method="POST" action="/reviews/comments/{{this._id}}?_method=DELETE">
        <button type="button" class="btn btn-danger" type="submit">Delete</button>
    </form></p>
  </div>  
</div>