<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Rotten Potatoes
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>

      </ul>
    </div>
    <div class="pull-right">
      <a href="/reviews/new" class="btn btn-primary navbar-btn bg-secondary">New Review</a>
    </div>
  </div>
</nav>